.venv/
downloads/
/проблемы.txt
.vscode/
/__pycache__
/voice_commands/__pycache__
/dependencies/__pycache__
/voice_commands/clock/__pycache__
/voice_commands/user_request/__pycache__
/voice_commands/timer/__pycache__
.pytest_cache/